/* FOLHA DE ESTILO DA PAGINA DE RECEITAS */
html{
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h4, header, span{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: midnightblue;
}

header{
    background-color: gold;
    height: 70px;
    font-size: 1.15rem;
    padding: 15px;
    border-bottom: 3px dotted midnightblue;
}

header nav ul li{
    list-style-type: none;
    display: inline-block;
    padding-inline-end: 15px;
    text-align: right;
}

header nav ul li a{
    text-decoration: none;
    color: midnightblue;
}

footer{
    text-align: center;
    background-color: midnightblue;
    padding: 10px;
    color: gold;
}

main{
    background-color: lightyellow;
    padding: 20px;
    text-align: center;
}

main figure{
    background-color: ghostwhite;
    width: 20rem;
    display: inline-block;
    text-align: center;
    display: inline-block;
    padding: 10px;
}

main figure img{
    width: 300px;
}

main figure figcaption a{
    text-decoration: none;
    color: gold;
}

main figure figcaption a:hover{
    background-color: gold;
    border-radius: 15px;
    color: midnightblue;
    padding: 8px;
}

section{
    width: 700px;
    margin: auto;
}

section h2{
    text-align: center;
    background-color: gold;
    margin: 50px 0px;
    padding: 10px;
}

.home{
    display: inline-block;
    width: 450px;
}

.nav-itens{
    display: inline-block;
    text-align: end;
    width: 450px;
    padding: 15px 50px;
}